<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="experience">
            <h2><span jhiTranslate="portafolioApp.experience.detail.title">Experience</span> {{experience.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="portafolioApp.experience.title">Title</span></dt>
                <dd>
                    <span>{{experience.title}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.experience.startDate">Start Date</span></dt>
                <dd>
                    <span>{{experience.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.experience.endDate">End Date</span></dt>
                <dd>
                    <span>{{experience.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.experience.isActive">Is Active</span></dt>
                <dd>
                    <span>{{experience.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.experience.description">Description</span></dt>
                <dd>
                    <span>{{experience.description}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.experience.personal">Personal</span></dt>
                <dd>
                    <div *ngIf="experience.personal">
                        <a [routerLink]="['/personal', experience.personal?.id, 'view']">{{experience.personal?.experience}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/experience', experience.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
