<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="languague">
            <h2><span jhiTranslate="portafolioApp.languague.detail.title">Languague</span> {{languague.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="portafolioApp.languague.name">Name</span></dt>
                <dd>
                    <span>{{languague.name}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.languague.isActive">Is Active</span></dt>
                <dd>
                    <span>{{languague.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.languague.level">Level</span></dt>
                <dd>
                    <span jhiTranslate="{{'portafolioApp.LanguagueLevel.' + languague.level}}">{{languague.level}}</span>
                </dd>
                <dt><span jhiTranslate="portafolioApp.languague.personal">Personal</span></dt>
                <dd>
                    <div *ngIf="languague.personal">
                        <a [routerLink]="['/personal', languague.personal?.id, 'view']">{{languague.personal?.languague}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/languague', languague.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
