<div>
    <h2 id="page-heading">
        <span jhiTranslate="portafolioApp.hability.home.title">Habilities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hability" [routerLink]="['/hability/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="portafolioApp.hability.home.createLabel">
            Create new Hability
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="habilities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="portafolioApp.hability.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="portafolioApp.hability.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="icon"><span jhiTranslate="portafolioApp.hability.icon">Icon</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="personal.hability"><span jhiTranslate="portafolioApp.hability.personal">Personal</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hability of habilities ;trackBy: trackId">
                <td><a [routerLink]="['/hability', hability.id, 'view' ]">{{hability.id}}</a></td>
                <td jhiTranslate="{{'portafolioApp.HabilityType.' + hability.type}}">{{hability.type}}</td>
                <td>{{hability.name}}</td>
                <td>
                    <a *ngIf="hability.icon" (click)="openFile(hability.iconContentType, hability.icon)">
                        <img [src]="'data:' + hability.iconContentType + ';base64,' + hability.icon" style="max-height: 30px;" alt="hability image"/>
                    </a>
                    <span *ngIf="hability.icon">{{hability.iconContentType}}, {{byteSize(hability.icon)}}</span>
                </td>
                <td>
                    <div *ngIf="hability.personal">
                        <a [routerLink]="['../personal', hability.personal?.id, 'view' ]" >{{hability.personal?.hability}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/hability', hability.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/hability', hability.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'hability', { outlets: { popup: hability.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="habilities && habilities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
